.button {
background-color: #E5E4E2; /* Green */
border: none;
color: black;
padding: 10px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
font-weight: bold;
margin-bottom: 5px;
}
.corfundo {
background-color: #D1D1D1; /* Green */
}
.buttonfake {
background-color: #ffffff; /* Green */
border: none;
color: black;
padding: 10px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
font-weight: bold;
margin-bottom: 5px;
}
html, body {
  overflow-x: hidden;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
}
p{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
h5 {
  text-align: center;
}
